.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timer-h1 {
  font-size: calc(20px + 100 * (100vw / 1440));
  text-align: center;
}


